.App {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 14px;
}

.App--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

 .APP-LOGO {
  ANIMATION: APP-LOGO-SPIN INFINITE 20S LINEAR;
  HEIGHT: 40VMIN;
}


.APP-HEADER {
  BACKGROUND-COLOR: #282C34;
  MIN-HEIGHT: 100VH;
  DISPLAY: FLEX;
  FLEX-DIRECTION: COLUMN;
  ALIGN-ITEMS: CENTER;
  JUSTIFY-CONTENT: CENTER;
  FONT-SIZE: CALC(10PX + 2VMIN);
  COLOR: WHITE;
}

.APP-LINK {
  COLOR: #61DAFB;
}

@KEYFRAMES APP-LOGO-SPIN {
  FROM {
    TRANSFORM: ROTATE(0DEG);
  }
  TO {
    TRANSFORM: ROTATE(360DEG);
  }
}